## 🎉 End of Game 🎉

Congratulations to the winner: ![]({{asset_root}}/assets/{{ color }}.png) @{{ winner }}

### The Last Game Field

{% set upper_alpha = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ' %}
| |{% for i in range(dimension) %}{{ upper_alpha[i] }}|{% endfor %}
| - |{% for i in range(dimension) %} - |{% endfor %}
{% for i in range(dimension)-%}
| {{i + 1}} | {% for j in range(dimension)-%}
{%-if field[i][j] == 1-%}
    ![]({{asset_root}}/assets/black.png)
{%-elif field[i][j] == 0-%}
    ![]({{asset_root}}/assets/white.png)
{%-else-%}
    ![]({{asset_root}}/assets/blank.png)
{%-endif %} |{% endfor %}
{% endfor %}

### Participants(Most recent first)

| Team | Move | Made by |
| ---- | ---- | ------- |
{% for step in last_steps-%}
| {{step.color}} | {{step.pos}} | @{{step.user}} |
{% endfor %}
